<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <title><%= t.title %></title>
</head>
<body>
    <h1><%= t.welcome %></h1>
    <p>
        <a href="?lang=ko">한국어</a> | 
        <a href="?lang=en">English</a>
    </p>
    <p><%= t.switchLanguage %></p>
</body>
</html>
